<form>

  {{#each podcasts}}
    {{!-- Обернуть в карточку --}}
    <div>

      <div class="form-group">
        <label for="inputPodcastName">Название подкаста</label>
        <input type="text" class="form-control" id="inputPodcastName" aria-describedby="podcastNameHelp" placeholder="Название подкаста"
          value="{{name}}">
        <small id="podcastNameHelp" class="form-text text-muted">Введите название подкаста</small>
      </div>

      <div class="form-group">
        <label for="inputSpeakerName">Спикер</label>
        <input type="text" class="form-control" id="inputSpeakerName" aria-describedby="speakerNameHelp" placeholder="Спикер"
          value="{{speaker}}">
        <small id="speakerNameHelp" class="form-text text-muted">Введите имя спикера</small>
      </div>

      {{!-- Тут сделать загрузку аудио --}}
      <div>

      </div>

      {{!-- Тут сделать загрузку презентации --}}
      <div>

      </div>

      {{!-- Тут сделать поле для отметок времени --}}
      <div>

      </div>

    </div>
  {{/each}}  

  <button type="submit" class="btn btn-secondary">Применить</button>

  <hr class="my-4">

  <button type="submit" class="btn btn-primary">Применить</button>

</form>
