<form id="podcasts-edit-form">

  <div id="podcasts-container">
  </div>

  <div class="clearfix hidden-xs-down mt-4">
    <div class="float-left add-podcasts-block">
      <button type="button" class="btn btn-secondary add-podcast-btn">Добавить подкаст</button>
    </div>

    <div class="float-right submit-podcasts-block">
      <button type="submit" class="btn btn-success submit-podcast-btn">Принять изменения</button>
    </div>
  </div>

  <div class="hidden-sm-up mt-4 d-flex flex-column">
    <div class="align-self-center add-podcasts-block">
      <button type="button" class="btn btn-secondary add-podcast-btn">Добавить подкаст</button>
    </div>

    <hr class="mx-0 my-4">

    <div class="align-self-center submit-podcasts-block">
      <button type="submit" class="btn btn-success submit-podcast-btn">Принять изменения</button>
    </div>
  </div>

</form>
