<div class="col-xs-6 col-sm-4 col-md-2 p-2">

  <nav class="nav flex-column sidebar">
    <div class="semilist py-2">
      <h5>Категорії</h5>
      <form>
        <fieldset class="py-1">
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Розробка ігор
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Веб-розробка
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    3D Моделювання
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Теорія алгоритмів
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Розробка ігор
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Веб-розробка
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    3D Моделювання
                  </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Теорія алгоритмів
                  </label>
          </div>
        </fieldset>

        <button type="reset" class="btn btn-secondary">Онулити фільтри</button>
      </form>
    </div>
    <div class="dropdown-divider my-2"></div>
    <div class="semilist py-2">
      <h5>Архів</h5>
      <a class="nav-link active" href="#">Всі</a>
      <a class="nav-link" data-toggle="collapse" href="#posts2017" aria-expanded="false" aria-controls="posts2017">2017 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
      <div class="collapse pl-3" id="posts2017">
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подкаст</a>
        </li>
      </div>
      <a class="nav-link" data-toggle="collapse" href="#posts2016" aria-expanded="false" aria-controls="posts2016">2016 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
      <div class="collapse pl-3" id="posts2016">

      </div>
    </div>

  </nav>
</div>
