<div class="card my-4">

  {{>blog/post/post-images}}

  <div class="card-block media p-1 my-auto">
    <div class="media-body px-4 py-2 align-self-center d-flex flex-column justify-content-around">
      {{>blog/post/post-info}}
      {{>blog/post/podcasts}}
    </div>
  </div>

</div>
