<div class="card my-4">
  <div class="card-block p-1">
    <div class="media my-auto">
      <div class="media-body px-4 align-self-center d-flex flex-column justify-content-around">
        <div class="py-2">
          <h4 class="card-title mb-0">Посты не найдены</h4>
        </div>
      </div>
    </div>
  </div>
</div>
