<!DOCTYPE html>
<html>

<head>
  <title>Подкасти | Belka Space</title>
  <meta charset="utf-8">

  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body class="bg-faded">

  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-orange">
    <div class="container mx-0 mx-sm-auto">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="">
        <img src="logo-orange.svg" width="30" height="30" alt=""> Belka
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0 d-flex">
              <input class="form-control mr-sm-2" type="text" id="navtext" placeholder="Назва, автор, тег">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Пошук <i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
            </form>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container main-container py-3">

    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-3 col-xl-2 p-2">

        <nav class="nav flex-column sidebar text-center text-md-left">
          <div class="semilist py-2">
            <h5>Категорії</h5>
            <form>
              <div class="row">
                <div class="col-xs-3 hidden-sm-up"></div>
                <fieldset class="py-1 col-xs-6 col-sm-5 offset-sm-4 col-md-12 text-center text-sm-left ml-md-0">
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Розробка ігор
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Веб-розробка
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    3D Моделювання
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Теорія алгоритмів
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Розробка ігор
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Веб-розробка
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    3D Моделювання
                  </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Теорія алгоритмів
                  </label>
                  </div>
                </fieldset>
              </div>

              <button type="reset" class="btn btn-secondary">Онулити фільтри</button>
            </form>
          </div>

          <div class="dropdown-divider my-2"></div>

          <div class="semilist py-2">
            <h5>Архів</h5>

            <a class="nav-link" href="#">Всі</a>

            <a class="nav-link" data-toggle="collapse" href="#posts2017" aria-expanded="false" aria-controls="posts2017">2017 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <div class="collapse pl-3" id="posts2017">
              <li class="nav-item">
                <a class="nav-link" href="#">Подкаст</a>
              </li>
            </div>

            <a class="nav-link" data-toggle="collapse" href="#posts2016" aria-expanded="false" aria-controls="posts2016">2016 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <div class="collapse pl-3" id="posts2016">
              <li class="nav-item">
                <a class="nav-link" href="#">Подкаст</a>
              </li>
            </div>
          </div>

        </nav>
      </div>

      <div class="col-xs-12 col-md-9 col-xl-10 flex-first flex-md-unordered pl-md-5">

        <div class="card my-4">
          <div class="card-block p-1">
            <div class="media my-auto">
              <div class="media-body px-4 align-self-center d-flex flex-column justify-content-around">
                <div class="py-2">
                  <h4 class="card-title mb-0">Назва подкасту</h4>
                  <p class="text-muted mb-0"><i class="fa fa-calendar" aria-hidden="true"></i> Дата: 17.04.17 |
                    <i class="fa fa-user" aria-hidden="true"></i> Автор: <a href="#">Хитев В.</a></p>
                </div>
                <div class="py-2">
                  <img class="hidden-lg-up mb-3" src="2.jpg" alt="Зображення події">
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
                </div>
                <div class="py-2">
                  <a href="#" class="btn btn-primary">Перейти</a>
                </div>
              </div>
              <img class="d-flex align-self-center hidden-md-down ml-3" src="2.jpg" alt="Зображення події">
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <footer class="px-5 py-3">
    <div class="container">
      <p class="mb-0 text-muted"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Created by @vkhitev and @irmchk. Special for Belka Space.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="scripts.js"></script>

</body>

</html>
