.admin-container {
  min-height: 100vh;
  max-width: 60%;
  min-width: 500px;
}

.btn-circle {
  border-radius: 50%;
}

textarea {
  resize: none;
}

.fa.fa-plus.fa-lg {
  outline: none;
}

.btn.btn-success.btn-circle.btn-lg.px-3 {
  color: white;
  box-shadow: none;
}

.form-invalid {
  color: crimson;
}

.fw-600 {
  font-weight: 600;
}

#btn-delete-category {
  display: none;
  position: absolute;
  top: 37px;
  left: -21px;
  cursor: pointer;
}
