<div class="card my-4">

  <div class="card-block p-1">
    <div class="media my-auto">
      <div class="media-body px-4 py-2 align-self-center d-flex flex-column justify-content-around">
        <h2 class="card-title py-3">{{action}}</h2>

        <div class="card-text pb-2">

          {{>admin/edit-form}}

        </div>
      </div>
    </div>
  </div>
  
</div>
