{{#section 'pre-head'}}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
{{/section}}

{{#section 'scripts'}}
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script>
    var postId = null
    {{#if post.id}}
      postId = {{post.id}}
    {{/if}}
  </script>
  <script src="/dist/admin.bundle.js"></script>
{{/section}}

<div class="card mx-auto my-4 form-card">

  <div class="card-block p-4">
    <h2 id="edit-post-title" class="card-title py-3">{{action}}</h2>

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#general" role="tab">Общая информация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#podcasts" role="tab">Подкасты</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="general" role="tabpanel">
          <div class="card-text pb-2 mt-2">
            {{>admin/edit-general}}
          </div>
        </div>
        <div class="tab-pane" id="podcasts" role="tabpanel">
          <div class="cart-text pb-2 mt-2">
            {{>admin/edit-podcasts}}            
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
