<div class="mt-2">
  <a class="btn btn-success btn-circle btn-lg px-3" href="/admin/create_post" role="button" title="Добавить пост"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
</div>

{{#if posts}}
  {{>admin/posts}}
  {{>shared/pagination}}
{{else}}
  {{>shared/no-posts}}
{{/if}}
