html, body{
 height: 100%;
}

body {
  padding-top: 50px;
}

.bg-orange {
  background-color: #ec691b;
}

/*.sidebar {
  position: fixed;
}*/

.navbar-inverse .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-inverse .nav-link:focus, .navbar-inverse .nav-link:hover {
    color: rgba(255,255,255,.75);
}

.navbar-inverse .active>.nav-link, .navbar-inverse .nav-link.active, .navbar-inverse .nav-link.open, .navbar-inverse .open>.nav-link {
    color: #fff;
}

.nav .nav-link {
    color: rgba(0,0,0,.5);
}

.nav .nav-link:focus, .nav .nav-link:hover {
    color: rgba(0,0,0,.75);
}

.nav .active>.nav-link, .nav .nav-link.active, .nav .nav-link.open, .nav .open>.nav-link {
    color: #000;
}

.nav h5 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container#main {
  min-height: 87%;
  max-width: 100%;
}

footer {
  background-color: #fff;
}

/*.semilist {
  max-height: 35vh; 
  overflow: auto;
}*/

/*.collapse {
  max-height: 12.5vh !important; 
  overflow: auto;
}*/

.media-body {
  min-height: 25vh;
}

img.card-img-top {
  width: 100%;
  max-height: 55vh;
  object-fit: cover;
}

.media img.hidden-md-down {
  width: 15vw;
  height: calc(15vw + 1vh);
  object-fit: cover;
}

.media img.hidden-lg-up {
  width: calc(100% - 0.01vw);
  height: auto;
  object-fit: cover;
}

.belka-logo {
  position: relative;
  top: -2px;
  height: 35px;
}

.navbar-brand {
  font-size: 1.30rem;
}
