<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-orange">
  <div class="container mx-0 mx-sm-auto">

    {{!-- Hamburger button, appears on small screens --}}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>{{!-- Logo --}}
    <a class="navbar-brand p-0" href="/">
      <img src="/img/logo.svg" lt="logo" class="belka-logo"> Belka
    </a>{{!-- Search --}}
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="form-inline my-2 my-lg-0 d-flex">
            <form action="/search" method="GET">
              <input class="form-control mr-sm-2" type="text" name="q" placeholder="Название, автор" value="{{searchQuery}}" id="search-input">
              <button class="btn btn-outline-white my-2 my-sm-0" type="submit" id="search-button">
                Поиск 
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
              </button>
            </form>

          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
