<div class="alert alert-danger my-4" role="alert">
  <h4 class="alert-heading">Ничего не найдено!</h4>
  <p>По вашему запросу не найдено ни одной записи.</p>
  <p class="mb-0">Вы можете вернуться на <a class="alert-link" href="/">главную</a> страницу</p>
</div>
