<div class="alert alert-danger my-4" role="alert">
  <h4 class="alert-heading">Ничего не найдено!</h4>
  <p>По вашему запросу <strong>"{{searchQuery}}"</strong> не было найдено ни одной записи. Пожалуйста, проверьте правильность
    введенного параметра поиска (название, автор, категория).</p>
  <p class="mb-0">Также вы можете вернуться на <a class="alert-link" href="/">главную</a> страницу</p>
</div>
