<div class="col-xs-12 col-md-9 col-xl-10 flex-first flex-md-unordered pl-md-5" id="posts-container">
  {{#if posts}}
    {{> posts}}
  {{else}}
    {{#if searchQuery}}
      {{> no-search-posts}}
    {{else}}
      {{> no-posts}}
    {{/if}}
  {{/if}}
</div>
